@import "./fonts.css";
@import "./colors.css";
@import "./sizes.css";
@import "./typography.css";
@import "tailwindcss";
@config "../../../tailwind.config.ts";
@import "./safelist.css";

:root {
  --radius-md: 0.375rem;
}

body {
  @apply font-sans;
  background: var(--bgColor);
  color: var(--textColor);
}
