:root {
	--navBarHeight: rem(78);
	--footerHeight: rem(624);

	@variant md {
		--navBarHeight: rem(114);
		--footerHeight: rem(283);
	}

	--content-max-width-wide: rem(1440);
	--content-max-width-narrow: rem(976);
	--container-padding: rem(24);
	--container-gutter: calc(
		(var(--content-max-width-wide) - var(--content-max-width-narrow)) /
		2
	);

	/* Typography Variables */
	--extraLarge-default-base-size: rem(132);
	--pageTitle-default-base-size: rem(30);
	--sectionTitle-default-base-size: rem(25);
	--contentTitle-default-base-size: rem(18);
	--quoteParagraph-default-base-size: rem(28);
	--subTitle-default-base-size: rem(20);
	--paragraph-default-base-size: rem(16);
	--smallParagraph-default-base-size: rem(12);
	--caption-default-base-size: rem(14.5);

	--extraLarge-default-max-size: rem(196);
	--pageTitle-default-max-size: rem(44);
	--sectionTitle-default-max-size: rem(25);
	--contentTitle-default-max-size: rem(18);
	--quoteParagraph-default-max-size: rem(28);
	--subTitle-default-max-size: rem(22);
	--paragraph-default-max-size: rem(16);
	--smallParagraph-default-max-size: rem(14);
	--caption-default-max-size: rem(14.5);

	/* Spacing, Height, and Width Variables */
	--size-min: 0.125rem;
	--size-xs: 0.5rem;
	--size-sm: 1rem;
	--size-md: 2rem;
	--size-lg: 3rem;
	--size-xl: 4rem;
	--size-max: 6rem;
	--size-extra: 12rem;
}
