html {
  font-size: 16px;
  text-wrap: balance;

  @variant xl {
    /* font-size: 1.1111vw; */
    font-size: clamp(1rem, 1.111111vw, 1.5rem);
  }
}

@utility font-extraLarge {
  @apply font-bold font-sans not-italic;
  font-size: var(--extraLarge-default-base-size);
  line-height: var(--extraLarge-default-base-size);
  letter-spacing: 0;

  @variant md {
    font-size: var(--extraLarge-default-max-size);
    line-height: var(--extraLarge-default-max-size);
  }
}

@utility font-pageTitle {
  @apply font-bold font-sans not-italic;
  font-size: var(--pageTitle-default-base-size);
  line-height: rem(43);
  letter-spacing: 0;

  @variant md {
    font-size: var(--pageTitle-default-max-size);
    line-height: rem(56);
  }
}

@utility font-sectionTitle {
  @apply font-normal font-serif;
  font-size: var(--sectionTitle-default-base-size);
  letter-spacing: 0.07em;
  line-height: rem(28);

  @variant md {
    font-size: var(--sectionTitle-default-max-size);
    line-height: rem(32);
  }
}

@utility font-contentTitle {
  @apply font-normal font-serif;
  font-size: var(--contentTitle-default-base-size);
  letter-spacing: 0.07em;
  line-height: rem(28);

  @variant md {
    font-size: var(--contentTitle-default-max-size);
    line-height: rem(32);
  }
}

@utility font-quoteParagraph {
  @apply font-serif italic;
  font-size: var(--quoteParagraph-default-base-size);
  line-height: rem(29);
  letter-spacing: 0.045em;

  @variant md {
    font-size: var(--quoteParagraph-default-max-size);
    line-height: rem(42);
    letter-spacing: 0.06em;
  }
}

@utility font-subTitle {
  @apply font-bold font-sans not-italic;
  font-size: var(--subTitle-default-base-size);
  line-height: rem(29);
  letter-spacing: 0.045em;

  @variant md {
    font-size: var(--subTitle-default-max-size);
    line-height: rem(29);
    letter-spacing: 0.03em;
  }
}

@utility font-paragraph {
  @apply font-normal font-sans not-italic;
  font-size: var(--paragraph-default-base-size);
  line-height: rem(24);

  @variant md {
    font-size: var(--paragraph-default-max-size);
    line-height: rem(26);
  }
}

@utility font-smallParagraph {
  @apply font-normal font-sans not-italic;
  font-size: var(--smallParagraph-default-base-size);
  line-height: rem(18);

  @variant md {
    font-size: var(--smallParagraph-default-max-size);
    line-height: rem(20);
  }
}

@utility font-caption {
  @apply font-serif not-italic;
  font-size: var(--caption-default-base-size);
  line-height: rem(29);
  letter-spacing: 0.045em;

  @variant md {
    font-size: var(--caption-default-max-size);
    line-height: rem(22);
    letter-spacing: 0.06em;
  }
}

h1 {
  @apply font-pageTitle;
}

h2 {
  @apply font-sectionTitle;
}

h3 {
  @apply font-contentTitle;
}

h4,
h5,
h6 {
  @apply font-subTitle;
}

p {
  @apply font-paragraph;
}

a {
  @apply font-bold underline hover:text-hoverColor;
}

small {
  @apply font-smallParagraph;
}

blockquote {
  @apply font-quoteParagraph;
}

figcaption {
  @apply font-caption;
}

code {
  @apply rounded bg-codeBg font-mono;
}

ul {
  @apply list-disc;
}

ol {
  @apply list-decimal;
}

blockquote p {
  font: inherit;
  letter-spacing: inherit;
}
